.about-me-section {
  overflow: hidden;
  position: relative;
}

.about-me-section::before {
  content: '';
  background-color: var(--color-accent);
  box-shadow: var(--box-shadow);
  inset: 0;
  position: absolute;
  z-index: -1;

  transform-origin: bottom left;
  rotate: -12.75deg;
  width: 1000%;
}

.image-container:has(.about-me-image) {
  z-index: 1;
}

.about-me-image {
  aspect-ratio: 355 / 388;
  background-color: #000;
  background-image: url('../assets/images/chair-cat-desktop.webp');
  background-size: contain;
  background-repeat: no-repeat;
  box-shadow: var(--box-shadow);
}

.title-heading {
  color: var(--color-text-title);
  font-size: 2.75rem;
  text-shadow: var(--text-shadow);
}

.about-me-info {
  background-color: var(--color-bg-primary);
  box-shadow: var(--box-shadow);
  padding: 1.5rem 2rem;
}

.about-me-text {
  margin-top: 1rem;
}

.about-me-links {
  margin-top: 1rem;

  display: flex;
  justify-content: end;
  gap: 0.875rem;
}

@media (width >= 825px) {
  .about-me-section {
    display: flex;
    align-items: center;
  }

  .image-container:has(.about-me-image) {
    flex-shrink: 0;
    width: 22.1875rem;
  }

  .about-me-image {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: end;
  }
}

@media (545px <= width <= 825px) {
  .image-container:has(.about-me-image) {
    float: left;
    margin-left: -2rem;
    margin-right: 1rem;
  }

  .about-me-image {
    width: 17rem;

    top: 2rem;
    left: 1.625rem;
  }

  .title-heading {
    translate: 14.25rem;
  }

  .about-me-info {
    margin-top: 4.25rem;
    padding-top: 4.25rem;
  }

  .about-me-info .section-heading {
    text-align: center;
  }
}
