.about-me-section {
  background-color: var(--color-accent);
}

.about-me {
  background-color: var(--color-bg-primary);

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.about-me-links {
  display: flex;
  gap: 0.875rem;
}
