html {
  --black: #060b04;
  --dark-gray: #181818;
  --gray: #383838;
  --light-gray: #575655;
  --white: #fff;

  --blue-green: #0891b2;

  --color-accent: var(--blue-green);
  --color-bg-primary: var(--white);
  --color-bg-footer: var(--color-accent);
  --color-text-body-paragraph: var(--light-gray);
}
