html {
  --black: #060b04;
  --dark-gray: #181818;
  --gray: #383838;
  --light-gray: #575655;
  --white: #fff;

  --blue-green: #0891b2;
  --crimson: #9e1c1c;
  --lavender: #7c75ca;
  --green: #5e8f4d;
  --pink: #c363b4;
  --gold-orange: #d88f39;
  --pale-blue: #4ba2d2;

  --color-accent: var(--blue-green);
  --color-bg-primary: var(--white);
  --color-bg-footer: var(--color-accent);
  --color-text: var(--light-gray);
  --color-text-footer: var(--white);
  --color-icon: var(--black);
  --color-shadow: #0003;

  --color-project-image-text: var(--white);
  --color-bg-project-1-image: var(--crimson);
  --color-bg-project-2-image: var(--lavender);
  --color-bg-project-3-image: var(--green);
  --color-bg-project-4-image: var(--pink);
  --color-bg-project-5-image: var(--gold-orange);
  --color-bg-project-6-image: var(--pale-blue);

  --box-shadow: var(--color-shadow) 1px 4px 6px 1px;
}
