.contact-me-section {
  background-color: var(--color-accent);
  color: var(--color-text-footer);
}

.footer-links {
  display: flex;
  gap: 1.25rem;
}

.contact-link {
  display: flex;
  gap: 0.5rem;
}
