.page-level-padding {
  padding: 2rem 2.5rem;
}

.about-me-links {
  display: flex;
  gap: 0.875rem;
}

.project-links {
  display: flex;
  gap: 0.625rem;
}

.footer-links {
  display: flex;
  gap: 1.25rem;
}

.contact-link {
  display: flex;
  gap: 0.5rem;
}
