body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

@media (width >= 825px) {
  .page-level {
    --min-inline-padding: 3.625rem;
    padding-block: 2.625rem;
  }
}

@media (525px <= width < 825px) {
  .page-level {
    --min-inline-padding: 3.375rem;
    padding-block: 2rem;
  }
}

@media (width < 525px) {
  .page-level {
    --min-inline-padding: 1.5rem;
    padding-block: 1.25rem;
  }

  .section-heading {
    text-align: center;
  }
}

.page-level {
  --max-content-width: 51.25rem;

  padding-inline: max(
    var(--min-inline-padding),
    calc(100% - var(--max-content-width)) / 2
  );
}

.contact-me-section {
  flex-grow: 1;
}
