.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-auto-rows: 19.0625rem;
  gap: 2.5rem 2rem;
}

.projects > * {
  box-shadow: var(--box-shadow);
}

.project-links {
  display: flex;
  gap: 0.625rem;
}

.project-1-image,
.project-2-image,
.project-3-image,
.project-4-image,
.project-5-image,
.project-6-image {
  color: var(--color-project-image-text);
  height: 11.5rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.project-1-image {
  background-color: var(--color-bg-project-1-image);
}

.project-2-image {
  background-color: var(--color-bg-project-2-image);
}

.project-3-image {
  background-color: var(--color-bg-project-3-image);
}

.project-4-image {
  background-color: var(--color-bg-project-4-image);
}

.project-5-image {
  background-color: var(--color-bg-project-5-image);
}

.project-6-image {
  background-color: var(--color-bg-project-6-image);
}
