.projects {
  margin-top: 2rem;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-auto-rows: 19.0625rem;
  justify-items: center;
  gap: 2.5rem 2rem;
}

.projects > * {
  box-shadow: var(--box-shadow);
  max-width: 17rem;
}

.project-1 {
  position: relative;
}

.project-1::before {
  content: 'My work' / '';
  position: absolute;
  translate: 0 -100%;

  color: var(--color-text-heading);
  font-family: 'Playfair Display', 'Times New Roman';
  font-size: 2em;
}

.project-links {
  display: flex;
  gap: 0.625rem;
}

.project-image {
  object-fit: cover;
}

.project-heading-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-heading-row,
.project-description {
  margin-block: 0.25rem;
  padding-inline: 1rem;
}

.project-heading {
  font-size: 1em;
}

.project-description {
  font-size: 0.75em;
  line-height: 0.875rem;
}

@media (width < 525px) {
  .projects-section {
    margin-bottom: 3rem;
  }

  .projects-section .section-heading {
    margin-bottom: 0.75rem;
  }
}
